a,a:focus,.top-user-login i,.themeum-title .title-link:hover,
.recommend-movies .movie-details .movie-title a:hover,.item:hover .play-icon:hover,.item .movie-details a:hover,
.movie-featured .item .movie-details a:hover,.moview-common-layout .movie-details .movie-title a:hover,
.moview-common-layout .owl-controls .owl-prev:hover::after,
.moview-common-layout .owl-controls .owl-next:hover::after,.trailers-videos .trailer-item .movie-title a:hover,
.moview-filters .list-inline>li.active a,.moview-search-results ul li a:hover,.movie-celebrities .movie-celebrity-name a:hover,
.sub-title .breadcrumb>.active,.modal-content .lost-pass:hover,#mobile-menu ul li:hover > a,#mobile-menu ul li.active > a,
.top-align .sp-moview-icon-user,#sidebar .widget ul li a:hover,.moview-social-icon ul li a:hover,
.moview-info-sidebar a:hover,.trailer-item .play-icon:hover,.continue:hover,.continue:hover:after,
.themeum-pagination ul li .current,.themeum-pagination ul li a:hover,
#buddypress div.item-list-tabs ul li.current a, #buddypress div.item-list-tabs ul li.selected a,
#buddypress ul.item-list li div.item-title a:hover,
#buddypress div.activity-meta a.acomment-reply,#buddypress div.activity-meta a.bp-secondary-action,
.buddy-sidebar .widget.buddypress div.item-options a:hover,
.buddy-sidebar .widget.buddypress div.item-options a.selected,
.product-thumbnail-outer h3 a:hover,#bbpress-forums li.bbp-topic-title .bbp-topic-permalink:hover, #bbpress-forums li.bbp-forum-info .bbp-forum-title:hover,
#bbpress-forums li.bbp-topic-title p.bbp-topic-meta .bbp-topic-started-by a:hover{ color: #e8293e; }

.error-page-inner a.btn.btn-primary.btn-lg,.btn.btn-primary,#buddypress button,.news-feed .news-feed-item .news-feed-info .meta-category a:hover,
.spotlight-post .list-inline>li>a:after,input[type=submit],.form-submit input[type=submit],
.widget .tagcloud a,.carousel-left:hover, .carousel-right:hover,.entry-link-post-format,.entry-quote-post-format,input[type=button],
#buddypress input[type=submit],#buddypress input[type=submit]:focus,#buddypress input[type=button],
#buddypress .generic-button a,#buddypress .activity-list li.load-more,#buddypress a.button,
#buddypress ul.button-nav li.current a,#bbpress-forums li.bbp-topic-title  p.bbp-topic-meta .bbp-topic-started-in a,
.bbpress-sidebar button,.widget.widget_search #searchform .btn-search { background-color: #e8293e; }

.moview-filters .list-inline>li.active>a { border-bottom-color: #e8293e; }

input:focus, textarea:focus, keygen:focus, select:focus  { border-color: #e8293e; }

a:hover, .widget.widget_rss ul li a,
#buddypress div.activity-meta a.acomment-reply,#buddypress div.activity-meta a.bp-secondary-action,
#buddypress ul.item-list li div.item-title span.activity-read-more a:hover { color: #81BB1C; }

.error-page-inner a.btn.btn-primary.btn-lg:hover,.btn.btn-primary:hover,input[type=button]:hover,
#buddypress input[type=submit]:hover,#buddypress input[type=button]:hover,#buddypress div.generic-button a:hover,
#buddypress .activity-list li.load-more:hover,#buddypress a.button:hover,
#buddypress ul.button-nav li.current a:hover,#buddypress button:hover,.bbpress-sidebar button:hover,
.widget.widget_search #searchform .btn-search:hover { background-color: #81BB1C; }

.btn.btn-primary{ border-color: #81BB1C; }

/*---------------------------------------*/

.rs-hover-ready{
	background-color: #e8293e !important;
    box-shadow: 0 4px 0px 0 #830f1b, 0px 5px 0px 0px #000, 0px 10px 0px 0px rgba(0,0,0,0.1) !important;
    -webkit-box-shadow: 0 4px 0px 0 #830f1b, 0px 5px 0px 0px #000, 0px 10px 0px 0px rgba(0,0,0,0.1) !important;
}
.rs-hover-ready:hover{
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
.welcome-kidzy h2, .our-classes h2, .school-fecilities h2, .meet-staffs h2, .latest-news h2, .enrollment h2,.who-are h2, .atmosphere-details h2, .atmosphere-content ul li i,.leave-comment h2{
	color: #e8293e;
}

.breadcrumb-section,.footer-section{
	background-color: #e8293e;
}
.vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab.vc_active > a{
	background: #e8293e !important;
}

.author-tag li i,.author-tag li a i,.class-details h3 a,.class-meta p,.class-single-meta h4,.sub-heading h4,.subject-list li a:hover,.wid-post-title h6 a:hover, .date li a:hover, .author-tag li a:hover, .post-details h3 a:hover,.widget ul li a:hover,.sort-btn li.active a, .sort-btn li a:hover,.class-search button,.vc_tta-container h2,.single-event h3 a:hover, .single-event > a:hover,.title-2,.single-team > h3,.bio-details:before,.single-teacher .tsocial-icon li a:hover,.single-news h5 a:hover, .single-news p a:hover{
	color: #e8293e;
}
.bio-content:after{
	background: #e8293e none repeat scroll 0 0;
}

.post-thumb-link,.post-thumb-quote,.schedule-table thead tr th:first-child,.schedule-table thead tr th{
	background: #e8293e;
}
.primary-btn{
	background: #e8293e !important;
	box-shadow: 0 4px 0px 0 #830f1b, 0px 5px 0px 0px #000, 0px 10px 0px 0px rgba(0,0,0,0.1) !important;
	-webkit-box-shadow:0 4px 0px 0 #830f1b, 0px 5px 0px 0px #000, 0px 10px 0px 0px rgba(0,0,0,0.1) !important;
}

.inputs-group input:focus{
	border-color:#e8293e;
}

.pagination li.active a,.pagination li.active a:hover{
    background: #e8293e;
    border-color: #e8293e;
    box-shadow: 0 4px 0 0 #e8293e, 0 4px 0 0 #000, 0 8px 0 0 rgba(0, 0, 0, 0.1);
}

.primary-btn span, .widget h3.widget_title, .widget-area .widget_categories h3.widget_title{
	background: #e8293e none repeat scroll 0 0;
}

.widget ul li a:before{
	background: #e8293e none repeat scroll 0 0;
}

.page-numbers li .current{
	box-shadow:0 4px 0 0 #e8293e, 0 4px 0 0 #000, 0 8px 0 0 rgba(0, 0, 0, 0.1);
	background: #e8293e;
}

.class-hover{
	background:rgba(232,41,62, 0.8); 
}
.event-img > a{ 
	background: #e8293e none repeat scroll 0 0;
	box-shadow:0 4px #941422;
}
.team-img:after{
	background: rgba(232,41,62, 0.8) none repeat scroll 0 0;
}

.subscribe-form input{
	box-shadow: 0 4px red;
}
.tagcloud a:hover{ background-color: #c3c4c7;}

/*========================================================================
|                        Start: woocommerce
==========================================================================*/
.bread-content h2 {
  color: #fff;
  font-size: 48px;
  letter-spacing: -1.92px;
  line-height: 44px;
  margin-bottom: 8px;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  font-weight: 700;
}
.breadcrumbs-area .breadcrumb {
  background: none;
  padding: 0;
  margin: 5px 0 0;
  font-weight: 400;
  line-height: 35px;
  color: #fff;
  z-index: 2;
  position: relative;
}
.breadcrumbs-area .breadcrumb > li a {
  color: #fff;
}
.breadcrumbs-area .breadcrumb > .active {
  color: #fff;
}
/* subtitle end */
/* product start */
.woocommerce a.button {
  color: #fff;
  font-weight: 300;
}
.woocommerce a.button:hover {
  color: #fff;
}
.themeum-register-btn {
  color: #fff;
}
.btn.themeum-register:hover {
  color: #fff;
}
.woocommerce .cart .button,
.woocommerce .cart input.button {
  color: #fff;
  padding: 12px 15px;
  font-weight: 300;
}
.woocommerce .cart .button:hover {
  background: #a90ca4;
}
/* woocommerce */
.woocommerce table.shop_table,
.woocommerce-cart table.cart th.actions .coupon .input-text,
.quantity .input-text.qty.text {
  border: 1px solid #f2f2f2;
  font-weight: 300;
}
.woocommerce table.shop_table th {
  border-top: 1px solid #f2f2f2;
}
.woocommerce table.shop_table th a {
  color: #000;
  transition: 300ms;
  -webkit-transition: 300ms;
}
#add_payment_method #payment,
.woocommerce-checkout #payment {
  background: #F3F3F3;
  border-radius: 4px;
  margin-bottom: 100px;
}
.woocommerce .woocommerce-info {
  background: #06396a;
  border-top: 0;
  color: #fff;
}
.woocommerce .woocommerce-info a {
  color: rgba(255, 255, 255, 0.6);
}
/*=========================================
*=======        shop page      ============
*=======================================*/
.product-thumbnail-outer-inner {
  position: relative;
  background: #f2f5fa;
  border-radius: 4px;
  border-bottom: 4px solid #e6e9ed;
}
.woocommerce .product-thumbnail-outer-inner .addtocart-btn a.button {
  margin: auto;
  opacity: 0;
  padding: 15px 0 16px;
  position: absolute;
  right: 0;
  bottom: -3px;
  -webkit-transition: all 500ms ease 0s;
  transition: opacity .5s, visibility .5s;
  visibility: hidden;
  width: 171px;
  background: #9B3B99 none repeat scroll 0 0;
  border-radius: 0 0 2px 2px;
  clear: both;
  color: #fff;
  display: table;
  font-size: 18px;
  text-transform: capitalize;
  text-align: center;
  width: 100%;
  height: 63px;
  font-weight: 200;
}
.svg-overlay-shop {
  display: block;
  position: absolute;
  bottom: 60px;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 2;
  pointer-events: none;
  color: #9B3B99;
  opacity: 0;
  transition: .5s;
}
.product-content-inner h3 a {
  color: #9B3B99;
  font-size: 24px;
}
.woocommerce div.product .product-content-inner .price {
  color: #a1a198;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 10px;
}
.woocommerce div.product span.onsale {
  min-height: 32px;
  min-width: 50px;
  font-weight: 700;
  position: absolute;
  text-align: center;
  line-height: 32px;
  top: 0;
  left: 0;
  margin: 0;
  border-radius: 2px;
  background-color: #e7272d;
  color: #fff;
  font-size: .857em;
  -webkit-font-smoothing: antialiased;
  z-index: 77;
}
.woocommerce-review-link {
  color: #9C9C9C;
}
.woocommerce div.product p.price,
.woocommerce div.product span.price {
  color: #39A511;
  font-size: 32px;
  margin-bottom: 40px;
  margin-top: 15px;
}
.product_meta {
  margin-bottom: 25px;
  margin-top: 30px;
}
.product_meta .posted_in {
  font-weight: 200;
  color: #9C9C9C;
}
.single_add_to_cart_button {
  font-weight: 200 !important;
}
.product_meta .posted_in a {
  color: #000;
}
.quantity .btn-minus {
  display: inline-block;
  line-height: 40px;
  min-height: 40px;
  width: 50px;
  padding: 0;
  color: #000;
  font-size: 18px;
  border: 1px solid #E2E2E2;
  border-radius: 0;
  background: transparent;
  border-right: 0;
}
.quantity .btn-plus {
  display: inline-block;
  line-height: 40px;
  min-height: 40px;
  width: 50px;
  padding: 0;
  color: #000;
  font-size: 18px;
  border: 1px solid #E2E2E2;
  border-radius: 0;
  background: transparent;
  border-left: 0;
}
.quantity .input-text.qty.text {
  display: inline-block;
  line-height: 40px;
  min-height: 40px;
  width: 88px;
  padding: 0;
  color: #000;
  font-size: 18px;
  border: 1px solid #E2E2E2;
  border-radius: 0;
  border-radius: 2px;
}
.woocommerce-tabs .nav-tabs > li > a:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20px;
  border-width: 12px 12px;
  margin-left: -6px;
  border-style: solid;
  border-color: #e9edf0 rgba(0, 0, 0, 0) rgba(0, 128, 0, 0) rgba(255, 255, 0, 0);
  opacity: 0;
  -webkit-transition: 350ms ease-in;
  -moz-transition: 350ms ease-in;
  transition: 350ms ease-in;
}
.woocommerce-tabs .nav-tabs > li > a {
  color: #000;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
  margin: 0 0 0 50px;
  border: 1px solid #e4e1e3;
  border-radius: 0px;
  padding: 1.5em 1.5em 1em;
}
/*=========================================
 *=======     Home Cart       ============
*=======================================*/
.widget.woocommerce.widget_shopping_cart {
  position: absolute;
  overflow: hidden;
  width: 300px;
  background: #f2f5f9 none repeat scroll 0 0;
  right: 0;
  left: auto;
  padding-top: 55px;
  display: none;
}
.home-cart.woocart .woocommerce.widget_shopping_cart {
  z-index: 99;
  position: absolute;
  width: 350px;
  right: 0;
  top: 53px;
  height: auto;
  line-height: normal;
  padding: 25px;
  text-align: left;
  display: none;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #f2f2f2;
  background: #eaeae0;
  border-top: 5px solid #d9d9d0;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}
.home-cart.woocart a.btn-cart:after {
  content: '';
  position: absolute;
  opacity: 0;
  left: 50%;
  bottom: -9px;
  z-index: 999;
  width: 0;
  height: 0;
  border-width: 5px;
  border-color: #d9d9d0 #d9d9d0 transparent transparent;
  border-style: solid;
  transform: rotate(-45deg);
  transform-origin: 0 0;
  box-sizing: border-box;
  margin-left: -7px;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}
.home-cart.woocart .woocommerce ul.product_list_widget li a {
  color: #555;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}
.home-cart.woocart .woocommerce ul.product_list_widget li a:hover {
  color: #444;
}
.woocommerce .buttons a.button {
  color: #fff;
  margin-right: 20px;
}
.widget_shopping_cart_content .mini_cart_item .quantity {
  color: #ed117d;
}
.widget_shopping_cart_content ul {
  width: 100%;
  margin-top: -70px !important;
  box-shadow: inherit !important;
}
.widget_shopping_cart_content ul li {
  background: inherit;
  color: #ed117d;
}
.widget_shopping_cart_content ul li a {
  padding: 20px;
  width: 100%;
  background: inherit !important;
}
.widget_shopping_cart_content ul li a:hover {
  padding-left: 15px;
  color: #ed117d !important;
}
.woocommerce-message {
  border-top: 3px solid #a46497 !important;
}
.woocommerce-message:before {
  content: "\e015";
  color: #a46497;		
}
.product_list_widget {
  width: 100% !important;
}
.home-cart.woocart .woocommerce a.remove:hover {
  background: none;
  color: #ed117d;
}
