@font-face {
  font-family: 'Minion Pro';
  src: url('../fonts/MinionPro-Medium.eot');
  src:
    url('../fonts/MinionPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MinionPro-Medium.woff2') format('woff2'),
    url('../fonts/MinionPro-Medium.woff') format('woff'),
    url('../fonts/MinionPro-Medium.svg#Quickpen') format('svg'),
    url('../fonts/MinionPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

