.icon-arrow-right {
	@extend %transition-all;
	border: solid $c-brown;
	border-width: 0 1px 1px 0;
	display: inline-block;
	width: 15px;
	height: 15px;
	transform: translate(-75%, -50%) rotate(-45deg);
	position: absolute;
	top: 50%;
	left: 50%;
}

.icon-zoom-in {
	position: relative;
	width: 16px;
	height: 16px;
	margin: 0;
	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 8px;
		left: 0;
		display: block;
		width: 16px;
		height: 1px;
		background: $c-brown;
	}
	&:after {
		top: 0;
		left: 8px;
		width: 1px;
		height: 16px;
	}
}

.icon-zoom-out {
	position: relative;
	width: 16px;
	height: 16px;
	margin: 0;
	&:before {
		content: '';
		position: absolute;
		top: 8px;
		left: 0;
		display: block;
		width: 16px;
		height: 1px;
		background: $c-brown;
	}
}
