.mce-container, .mceContentBody{
	font-family: "Neutraface 2 Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 100%;
	line-height: 1;
	font-weight: 400;
}

.main-heading {
	font-family: "Neutraface 2 Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
