@import url('css/bootstrap-rtl.min.css');

body{
	direction: rtl;
	unicode-bidi: embed;
}


/* top navigation bar */
.header-elements {
    float: left !important;
}
.social-icon li a {
    margin-right: 12px;
    margin-left: 0;
}

.social-icon {
    margin: 6px 0 0;
    float: right !important;
}

.login-or-signup {
    margin-right: 40px;
    margin-left: 0;
}

.login-or-signup i {
    float: left;
    margin-top: 5px;
}

.fa-sign-out:before {
    content: "\f08b";
}

/* main menu */
.main-menu {
    float: left !important;
}
.main-menu > li {
    margin-right: 37px;
    margin-left: 0;
}
#main-menu .main-menu>li ul {
    right: -20px;
    left: auto;
}
#main-menu .main-menu>li:last-child > ul {
    right: auto;
    left: 0;
}
.main-menu > li:after {
    left: -18px;
    right: auto;
}

/* footer */
.themeum-about-share li {
    padding-right: 0px;
    padding-left: 10px;
}


/* blog section */

.widget-area .widget_categories h3.widget_title, .widget h3.widget_title {
    padding: 19px 20px 17px 27px;
}

.widget-img {
    float: right !important
}

.author-tag li {
    padding-right: 0;
    padding-left: 17px;
}
.author-tag li i {
    padding-right: 0;
    padding-left: 10px;
}

.previous-post{
    float: right !important;
}
.next-post {
    float: left !important;
}

.fa-angle-right:before {
    content: "\f104";
}
.tagcloud {
    padding: 18px 2px 30px 28px;
}

/* event section */
.single-event h3 a {
    padding-right: 0px;
    padding-left: 40px
}

.event-img > a {
    right: 18px;
    left: auto;
}

/* event details */
.event-count li {
    margin-right: 0px;
    margin-left: 17px;
}

/* our cls section */
.sort-btn li a {
    margin-left: 0;
    margin-right: 31px;
}
.class-search button {
    right: auto;
    left: 24px;
}
.class-search input {
    padding: 30px 25px 30px 5px;
}

/* about page */

.atmosphere-content ul li i {
    float: right;
    margin-left: 5px;
}

.vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-left .vc_tta-controls-icon {
    right: 20px;
    left: auto;
}

.vc_tta.vc_general .vc_tta-panel-title {
    text-align: right;
    margin-right: 46px;
    margin-left: 0;
}

.vc_row-has-fill{
    /*right: -89.5px; */
}

/* contact form */
.textareas textarea {
    padding: 20px 15px 0 20px;
    text-align: right;
}
.inputs-group input {
    text-align: right;
}

.news-img a {
    right: 18px;
    left: auto;
}

/* responsive css */

@media screen and (min-width: 320px) and (max-width: 767px){
    .login-or-signup {
        margin-left: 0;
        margin-right: 10px;
    }
    #mobile-menu ul li span.menu-toggler {
      left: 0;
      right: auto;
    }
    #mobile-menu ul ul {
      padding-left: 0;
      padding-right: 40px;
    }
}