.doitac__list {
  display: block;
  margin: 20px auto 0;

  @media (min-width: break($s)) {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
    margin: 30px auto 0;
  }
}

.doitac__image {
  @include aspect-ratio(16, 10);
  width: 200px;
  height: 107px;
  margin: 0 auto 60px;
  position: relative;
}

.doitac__image-wrapper {
  @include background(contain);
  @include absolute-full;
}

.doitac__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;

  @media (min-width: break($s)) {
    width: calc(100% / 4 - 20px);
    margin-bottom: 20px;
    padding: 0 10px;
  }
}

.doitac__item-title {
  @extend %heading2;
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
  color: $c-hover;
}

.doitac__item-description p {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: $c-black;
}

.doitac__item-icon {
  padding-bottom: 30px;
}

.doitac__item-image {
  @include aspect-ratio(16, 16);
  width: 52px;
  height: 52px;
  margin: 0 auto 20px;
  position: relative;
}

.doitac__item-image-wrapper {
  @include background(contain);
  @include absolute-full;
}
