.gallery__title {
  font-size: 36px;
  font-weight: 400;
  color: $c-pink;
  text-align: center;
  padding-bottom: 30px;
}

.gallery__description {
  @extend %p;
  text-align: center;
  padding-bottom: 30px;
}

.gallery__list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.gallery__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 15px;

  @media (min-width: break($s)) {
    width: calc(100% / 3);
    max-width: 375px;
    padding: 0 7px 15px;
  }

  &:hover .gallery__item-image {
    filter: contrast(100%);
  }

  &:hover .gallery__item-inner {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}

.gallery__item-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.gallery__item-content {
  text-align: center;
  width: 100%;
}

.gallery__item-title {
  display: block;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: $c-white;
  text-align: center;

  &:hover {
    color: $c-white;
    text-decoration: underline;
  }
}

.gallery__item-image {
  @include aspect-ratio(16, 9);
  width: 100%;
  min-height: 200px;
  margin: 0 auto;
  filter: contrast(70%);
}

.gallery__item-image-wrapper {
  @include background(cover);
  @include absolute-full;
}

.gallery__item-bottom {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  opacity: 1;
  background-color: transparent;
  transform: translateY(80%);
  backface-visibility: hidden;
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}
