.grapeseed__title {
  font-size: 36px;
  font-weight: 400;
  color: $c-pink;
  text-align: center;
  padding-bottom: 30px;
}

.grapeseed__item-inner {
  position: relative;
}

.grapeseed__item-content {
  display: block;

  @media (min-width: break($s)) {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.grapeseed__item-info {
  width: 100%;
  padding: 20px;

  @media (min-width: break($s)) {
    width: 400px;
    margin-right: 20px;
    padding: 0;
  }

  @media (min-width: break($m)) {
    margin-right: 40px;
  }
}

.grapeseed__item-title {
  display: block;
  margin: 20px 0;
  font-size: 28px;
  font-weight: 500;
  color: $c-blue;
  text-align: center;

  i {
    font-size: 12px;
    line-height: 25px;
    margin: 0 5px;
  }
}

.grapeseed__item-description p {
  font-size: 16px;
  line-height: 32px;
  color: $c-black;

  @media (min-width: break($s)) {
    font-size: 22px;
  }
}

.grapeseed__item-image {
  @include aspect-ratio(16, 2);
  width: 100%;
  height: 250px;
  margin: 0;

  @media (min-width: break($s)) {
    @include aspect-ratio(16, 5);
    width: 600px;
    height: 550px;
  }
}

.grapeseed__item-image-wrapper {
  @include background(contain);
  @include absolute-full;

  @media (min-width: break($s)) {
    @include background(contain);
  }
}

.grapeseed__list {
  padding: 25px 0;

  @media (min-width: break($m)) {
    padding: 50px 0;
  }

  .slick-track {
    display: flex;
    justify-content: center;
    align-items: stretch;
  }

  .slick-slide {
    display: block;
    position: relative;
    width: 320px;
    height: auto;
    padding: 0 10px;
    transition: all 0.3s ease;

    @media (min-width: break($s)) {
      width: 100%;
      padding: 0 20px;
    }

    @media (min-width: break($m)) {
      padding: 0 40px;
    }
  }

  .slick-list {
    overflow: hidden;
  }

  .slick-arrow {
    position: absolute;
    top: 41%;
    width: 30px;
    height: 30px;
    z-index: 1100;
    font-size: 20px;
    opacity: 1;
    visibility: visible;
    color: $c-white;
    background: #2ab0ba;
    border: none;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all 0.3ms;

    @media (min-width: break($s)) {
      width: 40px;
      height: 40px;
      font-size: 30px;
      opacity: 0;
      visibility: hidden;
    }

    &:hover {
      color: $c-white;
      background-color: $c-pink;
    }

    .fa {
      line-height: 30px;
      vertical-align: middle;

      @media (min-width: break($s)) {
        line-height: 38px;
      }
    }
  }

  .slick-prev {
    left: 0;
    text-indent: -1px;
  }

  .slick-next {
    right: 0;
    text-indent: 1px;
  }

  @media (min-width: break($m)) {
    &:hover .slick-arrow {
      visibility: visible;
      opacity: 1;
    }
  }

  .slick-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 0;
    line-height: 0;
    padding: 14px 8px;
    z-index: 1100;
    background-color: transparent;
    border-radius: 4px;
    transform: translate(-50%, 50%);

    li {
      display: inline-block;
      margin: 0 6px;

      &.slick-active button {
        background: $c-pink;
      }
    }

    button {
      width: 10px;
      height: 10px;
      padding: 0;
      background: $c-white;
      border: 1px solid $c-pink;
      border-radius: 50%;
      text-indent: -9999em;
      transition: all 0.3s ease;
    }
  }
}
