.locations__item-content-new {
  display: block;
  margin-left: 10px;
  line-height: 20px;

  svg {
    width: 25px;
    height: 25px;
  }
}

.locations__title {
  font-size: 36px;
  font-weight: 400;
  color: $c-pink;
  text-align: center;
  padding-bottom: 30px;
}

.locations__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: break($s)) {
    max-width: 700px;
    margin: 0 auto;
  }
}

.locations__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-bottom: 15px;

  @media (min-width: break($s)) {
    width: 50%;
    max-width: 350px;
  }
}

.locations__item-inner {
  position: relative;
}

.locations__item-icon {
  position: absolute;
  top: 5px;
  left: 0;
  width: 20px;
  height: 20px;
}

.locations__item-icon svg {
  width: 20px;
  height: 20px;
}

.locations__item-content {
  padding-left: 30px;
}

.locations__item-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: $c-blue;
  text-align: left;

  &:hover {
    color: $c-hover;
    text-decoration: underline;
  }
}
