.post-details,
.single-post {
  @extend %p1;

  .author-tag {
    @extend %p-author-tag;

    padding-bottom: 5px;
  }

  .author-tag li a {
    @extend %p-author-tag;
  }

  p,
  li {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
  }

  h3 {
    margin-bottom: 5px;
  }

  h3 a {
    @extend %heading3;
  }

  .author-tag__tag,
  .author-tag__date {
    padding: 0;
  }

  .author-tag__user {
    display: none;
  }

  .article__action {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    width: calc(100% - 20px);
    margin: 0 auto;
    padding-top: 10px;
    border-top: 1px solid $c-pink;
  }

  .article__view,
  .article__comment {
    margin-right: 7px;
    cursor: pointer;

    svg {
      fill: $c-pink;
      margin-right: 5px;
    }

    &:hover {
      svg {
        fill: $c-red;
      }
    }
  }

  .article__like {
    cursor: pointer;

    svg {
      fill: transparent;
      stroke: $c-pink;
      stroke-width: 1.5px;
      margin-right: 5px;
      pointer-events: none;
    }

    &:hover {
      svg {
        fill: $c-red;
      }
    }
  }

  .single-news__item-like--is-active {
    svg {
      fill: $c-red;
    }
  }
}

.blog-post-section .site-content {
  @media (min-width: break($s)) {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    padding-bottom: 70px;
  }

  .themeum-pagination {
    @media (min-width: break($s)) {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 30px;
      margin: 0 auto;
    }
  }

  article {
    position: relative;

    @media (min-width: break($s)) {
      width: calc(100% / 2);
      margin-bottom: 20px;
      padding: 0 10px;
    }

    @media (min-width: break($m)) {
      width: calc(100% / 3);
    }

    .article__inner {
      position: relative;
      height: 100%;
      padding-bottom: 20px;
      box-shadow: 0 2px 20px rgba(0, 0, 0, 0.25);
      border-radius: 4px;
      overflow: hidden;
    }

    &:hover .article__inner {
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05),
      0 4px 4px rgba(0, 0, 0, 0.05),
      0 8px 8px rgba(0, 0, 0, 0.05),
      0 16px 16px rgba(0, 0, 0, 0.05),
      0 32px 32px rgba(0, 0, 0, 0.05),
      0 64px 64px rgba(0, 0, 0, 0.05);
    }

    .post-thumb {
      margin-bottom: 15px;
    }

    .post-details {
      width: auto;
      margin-bottom: 25px;
      padding: 0 10px 10px;
    }
  }

  article.post.hentry {
    margin-bottom: 0;

    @media (min-width: break($s)) {
      margin-bottom: 20px;
    }
  }
}

.blog-post-section img {
  width: 100%;
}
