.single-news {
  background-color: transparent;
}

.single-news__list {
  display: block;

  @media (min-width: break($s)) {
    display: flex;
    align-items: stretch;
  }
}

.single-news__item {
  width: 100%;
  padding-bottom: 20px;

  @media (min-width: break($s)) {
    width: calc(100% / 3 - 20px);
    padding: 0 10px 20px;
  }
}

.single-news__item-inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 100%;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.25s ease-in-out;

  .single-news__item:hover & {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05),
    0 4px 4px rgba(0, 0, 0, 0.05),
    0 8px 8px rgba(0, 0, 0, 0.05),
    0 16px 16px rgba(0, 0, 0, 0.05),
    0 32px 32px rgba(0, 0, 0, 0.05),
    0 64px 64px rgba(0, 0, 0, 0.05);
  }
}

.single-news__item-image {
  @include aspect-ratio(16, 9);

  width: 100%;
  min-height: 200px;
  margin: 0 auto 25px;
}

.single-news__item-image-wrapper {
  @include background(cover);
  @include absolute-full;
}

.single-news__item-title {
  margin: 0;
  padding-bottom: 15px;
}

.single-news__item-date {
  @extend %p-author-tag;

  i {
    display: inline-block;
    color: $c-pink;
    padding-right: 5px;
  }
}

.single-news__item-tags {
  @extend %p-author-tag;

  ul {
    list-style: none;
    padding-left: 0 !important;
  }

  li {
    padding: 0 !important;
  }

  i {
    display: inline-block;
    color: $c-pink;
    padding-right: 5px;
  }
}

.single-news__item-tag-link {
  color: #000 !important;
}

.single-news__item-description {
  display: none;
  padding-bottom: 15px;
}

.single-news__item--info {
  padding: 0 15px;
}

.single-news__item-action {
  width: calc(100% - 30px);
  margin-top: 10px;
  padding: 10px 0;
  border-top: 1px solid $c-pink;
}

.single-news__item-view,
.single-news__item-comment {
  margin-right: 7px;
  cursor: pointer;

  svg {
    fill: $c-pink;
    margin-right: 5px;
  }

  &:hover {
    svg {
      fill: $c-red;
    }
  }
}

.single-news__item-like {
  cursor: pointer;

  svg {
    fill: transparent;
    stroke: $c-pink;
    stroke-width: 1.5px;
    margin-right: 5px;
    pointer-events: none;
  }

  &:hover {
    svg {
      fill: $c-red;
    }
  }
}

.single-news__item-like--is-active {
  svg {
    fill: $c-red;
  }
}

.single-news__item-new {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;

  svg {
    width: 40px;
    height: 40px;
  }
}

.single-news__item-label-date {
  display: block;
  position: absolute;
  bottom: -10px;
  left: 10px;
  font-size: 16px;
  line-height: 1.2;
  padding: 5px 10px;
  background: #0072bc none repeat scroll 0 0;
  border-radius: 4px;
  box-shadow: 0 4px #045a91;
  color: #fff;
}

.single-news__item:nth-child(2) .single-news__item-label-date {
  background: #f26522;
  box-shadow: 0 4px #d24f11;
}

.single-news__item:nth-child(3) .single-news__item-label-date {
  background: #8dc63f;
  box-shadow: 0 4px #7aab37;
}

.single-news__item:nth-child(4) .single-news__item-label-date {
  background: #92278f;
  box-shadow: 0 4px #782075;
}
