.teacher-content {
  @media (min-width: break($s)) {
    max-width: 544px;
    margin: 0 auto;
  }
  p {
    @extend %p;
  }

  iframe {
    width: 280px;
    height: 158px;

    @media (min-width: break($s)) {
      width: 554px;
      height: 312px;
    }
  }
}
