.testimonials__title {
  font-size: 36px;
  font-weight: 400;
  color: $c-white;
  text-align: center;
  padding-bottom: 30px;
}

.carousel-slick {
  padding: 25px 0;

  @media (min-width: break($m)) {
    padding: 50px 0;
  }

  .slick-track {
    display: flex;
    justify-content: center;
    align-items: stretch;
  }

  .slick-slide {
    display: block;
    position: relative;
    width: 280px;
    height: auto;
    padding: 0 10px;
    transition: all 0.3s ease;

    @media (min-width: break($s)) {
      width: 340px;
      padding: 0 20px;
    }

    @media (min-width: break($m)) {
      width: 403px;
      padding: 0 40px;
    }
  }

  .slick-active {
    opacity: 1;
    visibility: visible;
  }

  .slick-list {
    overflow: hidden;
  }

  .slick-arrow {
    position: absolute;
    top: 41%;
    width: 30px;
    height: 30px;
    z-index: 1100;
    font-size: 20px;
    opacity: 1;
    visibility: visible;
    color: $c-pink;
    background: $c-white;
    border: none;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all 0.3ms;

    @media (min-width: break($s)) {
      width: 40px;
      height: 40px;
      font-size: 30px;
      opacity: 0;
      visibility: hidden;
    }

    &:hover {
      color: $c-white;
      background-color: $c-pink;
    }

    .fa {
      line-height: 30px;
      vertical-align: middle;

      @media (min-width: break($s)) {
        line-height: 38px;
      }
    }
  }

  .slick-prev {
    left: 0;
    text-indent: -1px;
  }

  .slick-next {
    right: 0;
    text-indent: 1px;
  }

  @media (min-width: break($m)) {
    &:hover .slick-arrow {
      visibility: visible;
      opacity: 1;
    }
  }

  .slick-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 0;
    line-height: 0;
    padding: 14px 8px;
    z-index: 1100;
    background-color: transparent;
    border-radius: 4px;
    transform: translate(-50%, 50%);

    li {
      display: inline-block;
      margin: 0 6px;

      &.slick-active button {
        background: $c-pink;
      }
    }

    button {
      width: 10px;
      height: 10px;
      padding: 0;
      background: $c-white;
      border: 1px solid $c-pink;
      border-radius: 50%;
      text-indent: -9999em;
      transition: all 0.3s ease;
    }
  }
}

.testimonials__item-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testimonial__item-quote {
  padding-bottom: 20px;
  color: $c-white;
  font-size: 17px;
  text-align: center;
}

.testimonials__item-title {
  @extend %heading2;

  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  color: $c-white;
}

.testimonials__item-sub-title {
  @extend %heading4;

  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  color: $c-white;
}

.testimonials__item-description {
  font-size: 16px;
  line-height: normal;
  text-align: center;
  color: $c-white;
}

.testimonials__item-image {
  @include aspect-ratio(16, 9);
  width: 120px;
  height: 120px;
  margin: 0 auto 20px;
  position: relative;
}

.testimonials__item-image-wrapper {
  @include background(cover);
  @include absolute-full;

  border: 2px solid $c-white;
  border-radius: 50%;
}

.testimonials__item-bg:after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: -35px;
  width: 232px;
  height: 170px;
  margin: auto;
  z-index: -1;
  background: rgba(0, 0, 0, 0) url(../img/testi-img-bg.png) no-repeat scroll center center / cover;
}
