.widget-categories__item {
  padding-top: 10px;
}

.widget-categories__item-inner {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.widget-categories__item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  z-index: 2;
}

.widget-categories__item-title {
  margin: 0;
  padding: 0 10px;
}

.widget-categories__item-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;
  margin: 0;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: linear .2s;

  .widget-categories__item:hover & {
    width: 110px;
    background: $c-pink;
    opacity: 0.5;
  }
}

.widget-categories__item-image {
  @include aspect-ratio(16, 3);
  width: 100%;
  height: 48px;
  margin: 0 auto;
}

.widget-categories__item-image-wrapper {
  @include background(cover);
  @include absolute-full;
}

.widget-categories__item {
  padding-top: 10px;
}

.widget-categories__item-inner {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.widget-categories__item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  z-index: 2;
}

.widget-categories__item-title {
  margin: 0;
  padding: 0 10px;
}

.widget-categories__item-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;
  margin: 0;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: linear .2s;

  .widget-categories__item:hover & {
    width: 110px;
    background: $c-pink;
    opacity: 0.5;
  }
}

.widget-categories__item-image {
  @include aspect-ratio(16, 3);
  width: 100%;
  height: 48px;
  margin: 0 auto;
}

.widget-categories__item-image-wrapper {
  @include background(cover);
  @include absolute-full;
}
