.widget-recent-posts__item {
  padding-top: 10px;
}

.widget-recent-posts__item-inner {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

.widget-recent-posts__item-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.widget-recent-posts__item-title {
  margin: 0;
}

.widget-recent-posts__item-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;
  margin: 0;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: linear .2s;

  .widget-recent-posts__item:hover & {
    width: 110px;
    background: $c-pink;
    opacity: 0.5;
  }
}

.widget-recent-posts__item-image {
  @include aspect-ratio(16, 3);
  width: 100%;
  height: 48px;
  margin: 0 auto;
}

.widget-recent-posts__item-image-wrapper {
  @include background(cover);
  @include absolute-full;
  border-radius: 5px;
}

.widget-recent-posts__item {
  padding-top: 10px;
}

.widget-recent-posts__item-title {
  @extend %heading4;
  margin: 0;
  padding: 5px 10px;
}

.widget-recent-posts__item-image {
  @include aspect-ratio(16, 16);
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.widget-recent-posts__item-image-wrapper {
  @include background(cover);
  @include absolute-full;
}
