/*
Theme Name: Kidzy
Theme URI: http://themeum.com/wordpress/kidzy
Author: Themeum
Author URI: http://themeum.com/
Description: Kidzy Premium wordpress Theme.
Version: 2.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, two-columns, right-sidebar, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats
Text Domain: kidzy
*/

ol, ul{
    margin: 0;
    padding: 0;
}

.screen-reader-text{}
.gallery-caption{}
.bypostauthor{}

/*========================================================================
                        Start: Slider Section
==========================================================================*/
#rev_slider_1_1 ul.tp-revslider-mainul .tp-revslider-slidesli:after {
 content: "";
 height: 100%;
 left: 0;
 position: absolute;
 top: 0;
 width: 100%;
}

div.owl-controls {
    left: 0;
    position: absolute;
    top: 115%;
    width: 100%;
}
#client-feedback-message div.owl-controls {
  top: 110%;  
}
.kidzyNext{
    padding-left: 4px;
    cursor: pointer;
}
.kidzyPrev{
    padding-right: 4px;
    cursor: pointer;    
}
.kidzyNext span i,
.kidzyPrev span i{
    padding: 2px;
    font-size: 20px;
    color: white;
}

/*========================================================================
                        End: Slider Section
==========================================================================*/

/*========================================================================
                        Start: Home Page
==========================================================================*/
.overlay {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.enrollment h2{
    margin-top: 10px;
    margin-bottom: 20px;
}
/*========================================================================
                        End: Home Page
==========================================================================*/


/*========================================================================
|                        Start: woocommerce
==========================================================================*/

.bread-content h2 {
    color: #fff;
    font-size: 48px;
    letter-spacing: -1.92px;
    line-height: 44px;
    margin-bottom: 8px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    font-weight: 700;
}

.breadcrumbs-area .breadcrumb {
    background: none;
    padding: 0;
    margin: 5px 0 0;
    font-weight: 400;
    line-height: 35px;
    color: #fff;
    z-index: 2;
    position: relative;
}
.breadcrumbs-area .breadcrumb>li a {
    color: #fff;
}
.breadcrumbs-area .breadcrumb>.active {
    color: #fff;
}


/* subtitle end */

/* product start */
.woocommerce a.button {
    color: #fff;
    font-weight: 300;
}

.woocommerce a.button:hover {
    color: #fff;
}

.themeum-register-btn {
    color: #fff;
}

.btn.themeum-register:hover {
    color: #fff;
}

.woocommerce .cart .button, 
.woocommerce .cart input.button {
    color: #fff;
    padding: 12px 15px;
    font-weight: 300;
}
.woocommerce .cart .button:hover {
    background: #a90ca4;
}
/* woocommerce */
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img {
    float: left;
    margin-right: 10px;
    margin-left: 15px;
}
.woocommerce table.cart td.actions .input-text, 
.woocommerce-page #content table.cart td.actions .input-text, 
.woocommerce-page table.cart td.actions .input-text {
    border-radius: 2px;
    padding: 10px;
    min-height: 38px;
}
.woocommerce table.shop_table,
.woocommerce-cart table.cart th.actions .coupon .input-text,
.quantity .input-text.qty.text {
    border: 1px solid #f2f2f2;
    font-weight: 300;
}
.woocommerce table.shop_table th {
    border-top: 1px solid #f2f2f2;
}
.woocommerce table.shop_table th {
    padding: 15px 20px;
    font-weight: 300;
}
.woocommerce table.shop_table th a {
    color: #000;
    transition: 300ms;
    -webkit-transition: 300ms;
}
.cart_totals.calculated_shipping h2 {
    font-size: 24px;
    text-transform: uppercase;
}
#add_payment_method #payment, .woocommerce-checkout #payment {
    background: #F3F3F3;
    border-radius: 4px;
    margin-bottom: 100px;  
}

.row.woo-products {
    margin: 0 0  30px;
}
form.cart-table {
    margin: 0 0 60px;
}
.woocommerce .cart-collaterals, .woocommerce-page .cart-collaterals {
    margin: 20px 0 60px;
    font-weight: 300;
}
.woocommerce table.shop_table tbody th {
    font-weight: 300;
}
.woocommerce .col-1.address {
    margin-bottom: 100px;
}
.woocommerce .woocommerce-info {
    background: #06396a;
    border-top: 0;
    color: #fff;
}
.woocommerce .woocommerce-info a {
    color: rgba(255, 255, 255, 0.6);
}
.widget.woocommerce ul li a{
    font-weight: 300;
}

.widget.woocommerce ul li a:before {
    display: none;
}
.cart_list .product_list_widget .mini_cart_item{
    width: 100%;
    margin-top: -70px;
}
.woocommerce ul.cart_list li img, 
.woocommerce ul.product_list_widget li img {
    width: 60px;
}


/*=========================================
*=======        shop page      ============
*=======================================*/

.woocommerce div.product {
    margin-bottom: 20px;
}
.product-content-inner {
    text-align: center;
    margin-top: 30px;
}
.product-content-inner h3 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 4px;
}
.product-thumbnail-outer-inner {
    position: relative;
    background: #f2f5fa;
    border-radius: 4px;
    border-bottom: 4px solid #e6e9ed;
}
.addtocart-btn a{
    font-weight: 100;
}
.woocommerce .product-thumbnail-outer-inner .addtocart-btn a.button {
    margin: auto;
    opacity: 0;
    padding: 15px 0 16px;
    position: absolute;
    right: 0;
    bottom: -3px;
    -webkit-transition: all 500ms ease 0s;
    transition: opacity .5s, visibility .5s;
    visibility: hidden;
    width: 171px;
    background: #9B3B99 none repeat scroll 0 0;
    border-radius: 0 0 2px 2px;
    clear: both;
    color: #fff;
    display: table;
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
    width: 100%;
    height: 63px;
    font-weight: 200;
}

.svg-overlay-shop{
    display: block;
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 2;
    pointer-events: none;
    color: #9B3B99;
    opacity: 0;
    transition: .5s;
}

.svg-overlay-shop svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
}

.cart-icons-shop{
    margin-right: 5px;
}

.product-thumbnail-outer:hover .product-thumbnail-outer-inner .addtocart-btn .svg-overlay-shop{
    opacity: 1;
    bottom: 60px; 
    visibility: visible;
}
.button.product_type_simple.add_to_cart_button.ajax_add_to_cart{
    width: 100.5% !important;
    left: 0;
}
.product-thumbnail-outer:hover .product-thumbnail-outer-inner .addtocart-btn a.button{
    visibility: visible;
    opacity: 1;
    bottom: -3px;
} 

.product-thumbnail-outer .product-thumbnail-outer-inner img,.product-img img {
    -webkit-transition: opacity 400ms;
    -o-transition: opacity 400ms;
    transition: opacity 400ms;
    width: 100%;
    padding: 20px;
}

.product-content-inner h3 a {
    color: #9B3B99;
    font-size: 24px;
}
.woocommerce div.product .product-content-inner .price {
    color: #a1a198;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 10px;
}
.woocommerce div.product span.onsale {
    min-height: 32px;
    min-width: 50px;
    font-weight: 700;
    position: absolute;
    text-align: center;
    line-height: 32px;
    top: 0;
    left: 0;
    margin: 0;
    border-radius: 2px;
    background-color: #e7272d;
    color: #fff;
    font-size: .857em;
    -webkit-font-smoothing: antialiased;
    z-index: 77;
}

.woo-products .woocommerce-ordering {
    display: none;
}

.woo-products .site-content h1.page-title {
    display: none;
}

.woo-products .woocommerce-result-count {
    display: none;
}
.woocommerce a.added_to_cart {
    padding-top: .5em;
    white-space: nowrap;
    display: block;
    text-transform: uppercase;
    color: #000;
}
.woocommerce #content div.product div.images, 
.woocommerce div.product div.images, 
.woocommerce-page #content div.product div.images, 
.woocommerce-page div.product div.images {
    width: 100%;
    float: none;
}
.woocommerce div.product .product_title {
    font-size: 28px;
    margin: 0 0 2px;
}
.woocommerce-review-link {
    color: #9C9C9C;
}
.woocommerce div.product .woocommerce-product-rating {
    margin-bottom: 20px;
}
.woocommerce div.product p.price, 
.woocommerce div.product span.price {
    color: #39A511;
    font-size: 32px;
    margin-bottom: 40px;
    margin-top: 15px;
}
.product_meta {
    margin-bottom: 25px;
    margin-top: 30px;
}
.product_meta .posted_in {
    font-weight: 200;
    color: #9C9C9C;
}

.single_add_to_cart_button {
    font-weight: 200 !important;
}

.product_meta .posted_in a {
    color: #000;
}

.single_add_to_cart_button.button.alt {
    margin-top: 35px;
}
.woocommerce div.product form.cart div.quantity {
    float: none;
    font-size: 1px;
}
.woocommerce .quantity .input-text.qty.text {
    display: inline-block;
}
.quantity .btn-minus {
    display: inline-block;
    line-height: 40px;
    min-height: 40px;
    width: 50px;
    padding: 0;
    color: #000;
    font-size: 18px;
    border: 1px solid #E2E2E2;
    border-radius: 0;
    background: transparent;
    border-right: 0;
}

.quantity .btn-plus {
    display: inline-block;
    line-height: 40px;
    min-height: 40px;
    width: 50px;
    padding: 0;
    color: #000;
    font-size: 18px;
    border: 1px solid #E2E2E2;
    border-radius: 0;
    background: transparent;
    border-left: 0;
}
.quantity .input-text.qty.text {
    display: inline-block;
    line-height: 40px;
    min-height: 40px;
    width: 88px;
    padding: 0;
    color: #000;
    font-size: 18px;
    border: 1px solid #E2E2E2;
    border-radius: 0;
    border-radius: 2px;
}
.related.products {
    margin-top: 70px;
    margin-bottom: 60px;
}
.woocommerce-tabs .nav-tabs {
    border: 1px solid #e9edf0;
    text-transform: uppercase;  
}
.woocommerce-tabs .nav-tabs>li {
    margin-bottom: 0;
}
.woocommerce-tabs .nav-tabs>li>a {
    border: none;  
    padding: 15px 10px 15px 25px;  
    position: relative;
}
.woocommerce-tabs .nav-tabs>li>a:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -20px;
    border-width: 12px 12px;
    margin-left: -6px;
    border-style: solid;
    border-color: #e9edf0 rgba(0, 0, 0, 0) rgba(0, 128, 0, 0) rgba(255, 255, 0, 0);
    opacity: 0;
    -webkit-transition: 350ms ease-in;
    -moz-transition: 350ms ease-in;
    transition: 350ms ease-in;  
}
.woocommerce-tabs .nav-tabs>li.active>a, 
.woocommerce-tabs .nav-tabs>li.active>a:focus, 
.woocommerce-tabs .nav-tabs>li.active>a:hover {
    border: none;
}
.woocommerce-tabs .nav-tabs>li.active>a:before {
    opacity: 1;
    bottom: -24px;
}
.woocommerce-tabs .nav-tabs>li>a {
    color: #000;
}
.woocommerce-tabs .nav>li>a:focus, 
.woocommerce-tabs .nav>li>a:hover {
    text-decoration: none;
    background: none;
    border: none;  
}
.woocommerce-tabs .nav>li>a:hover:before {
    opacity: 1;
    bottom: -24px;
}

.woocommerce-tabs .tab-content h2,
.upsells.products h2 {
    font-size: 22px;
    text-transform: uppercase;
    margin: 40px 0 20px;
}
.related.products  .related-title {
    text-transform: uppercase;
    font-size: 26px;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
    margin: 0 0 0 50px;
    border: 1px solid #e4e1e3;
    border-radius: 0px;
    padding: 1.5em 1.5em 1em;
}

.woocommerce #reviews #comments ol.commentlist li img.avatar {
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px;
    width: 35px;
    height: auto;
    margin: 0;
    box-shadow: none;
}

/*=========================================
 *=======     Home Cart       ============
*=======================================*/
.home-cart.woocart {
    position: relative;
}
.widget.woocommerce.widget_shopping_cart {
    position: absolute;
    overflow: hidden;
    width: 300px;
    background: #f2f5f9 none repeat scroll 0 0;
    right: 0;
    left: auto;
    padding-top: 55px;
    display: none;
}

.woo-cart:hover .widget.woocommerce.widget_shopping_cart {
    display: inline-block;
}

.home-cart.woocart .woocommerce.widget_shopping_cart {
    z-index: 99;
    position: absolute;
    width: 350px;
    right: 0;
    top: 53px;
    height: auto;
    line-height: normal;
    padding: 25px;
    text-align: left;
    display: none;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #f2f2f2;
    background: #eaeae0;
    border-top: 5px solid #d9d9d0;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
}
.topbar .home-cart.woocart .woocommerce.widget_shopping_cart {
    top:35px;
}

.home-cart.woocart .woocommerce.widget_shopping_cart h2.widgettitle {
    display: none;
}

.home-cart.woocart a.btn-cart {
    padding: 10px 0 25px;
    position: relative;
}

.home-cart.woocart a.btn-cart:after {
  content: '';
  position: absolute;
  opacity: 0;
  left: 50%;
  bottom: -9px;
  z-index: 999;
  width: 0;
  height: 0;
  border-width: 5px;
  border-color: #d9d9d0 #d9d9d0 transparent transparent;
  border-style: solid;
  transform: rotate(-45deg);
  transform-origin: 0 0;
  box-sizing: border-box;
  margin-left: -7px;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}

.topbar .home-cart.woocart a.btn-cart:after {
    bottom: 10px;
}

.home-cart.woocart a.btn-cart:hover:after {
    opacity: 1;
}

.home-cart.woocart .woocommerce ul.cart_list li img, 
.home-cart.woocart .woocommerce ul.product_list_widget li img {
    width: 40px;
    margin-right: 15px;
    float: left;
}
.home-cart.woocart .woocommerce ul.product_list_widget li {
    padding-bottom: 20px;
}
.home-cart.woocart .woocommerce.widget_shopping_cart .cart_list li {
    padding-left: 1.5em;
}
.home-cart.woocart .woocommerce ul.product_list_widget li a {
    color: #555;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}
.home-cart.woocart .woocommerce ul.product_list_widget .quantity {
    font-size: 12px;
}

.home-cart.woocart .woocommerce ul.product_list_widget li a:before {
    display: none;
}

.home-cart.woocart .woocommerce ul.product_list_widget li a:hover {
    padding-left: 0;
}

.home-cart.woocart .woocommerce ul.product_list_widget li a:hover {
    color: #444;
}

.home-cart.woocart .woocommerce.widget_shopping_cart .cart_list li a.remove {
    top:2px;
}
.woocommerce .buttons a.button {
    color: #fff;
    margin-right: 20px;
}
.home-cart.woocart .woocommerce.widget_shopping_cart .total  {
    font-size: 14px;
}
.total strong{
    font-weight: 300;
    padding: 0;
    margin:0;
}

.widget_shopping_cart_content{
    padding: 20px;
    width: 100%;
}
.widget_shopping_cart_content .mini_cart_item .remove{
    padding-left: 20px;
    line-height: 65px;
}
.widget_shopping_cart_content .mini_cart_item .quantity{
    color: #ed117d;
}    
.widget_shopping_cart_content .total{
    line-height: 1.5 !important;
    padding-top: 10px;
}
.widget_shopping_cart_content .total{
    margin-top: 0;
    line-height: 1.5 !important;
    padding-top: 10px !important;
}
.widget_shopping_cart_content .total strong{
    padding: 0;
}
.widget_shopping_cart_content ul{
    width: 100%;
    margin-top: -70px !important;
    box-shadow: inherit !important;
    position: relative !important;
}
.widget_shopping_cart_content ul li{
    background: inherit;
    color: #ed117d;
}
.widget_shopping_cart_content ul li a{
    padding: 20px;
    width: 100%;
    background: inherit !important;
}
.widget_shopping_cart_content ul li a:hover{
    padding-left: 15px;
    color: #ed117d !important;
}
.widget_shopping_cart_content strong{
    padding: 20px;
}

.widget_shopping_cart_content .buttons{
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0;
}
.widget_shopping_cart_content a{
    font-weight: 300;
    margin-bottom: 5px;
}
.woocommerce-message{
    border-top: 3px solid #a46497 !important;
}

.woocommerce-message:before {
    content: "\e015";
    color: #a46497;
}
.woocommerce-Price-amount {
    font-weight: 300;
}


.product_list_widget{
    width: 100% !important;
}

.home-cart.woocart .button.checkout.wc-forward {
    margin-left: 15px;
}

.home-cart.woocart .woocommerce a.remove {
    height: auto;
    width: auto;
    text-align: left;
    border-radius: 0;
    color: red!important;
}

.home-cart.woocart .woocommerce a.remove:hover {
    background: none;
    color: #ed117d;
}

/* check out */
.woocommerce-billing-fields label{
    font-weight: 300;
}

.woocommerce-shipping-fields p label{
    font-weight: 300;
}

.woocommerce table.shop_table tfoot th {
    font-weight: 300 !important;
}

label {
    font-weight: 300;
}

.woocommerce-checkout-payment ul li{
    font-weight: 300;
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
    font-weight: 300;
}
.woocommerce-checkout #payment .payment_method_paypal .about_paypal {
    margin-top: -8px;
    margin-left: 10px;
}
.woocommerce a.remove {
    font-weight: 300;
}
/* my Account */
.woocommerce .woocommerce-MyAccount-navigation ul{
    margin-bottom: 80px;
}
.woocommerce .woocommerce-MyAccount-navigation ul li{
    list-style: none;
    line-height: 18px;
}

.woocommerce-MyAccount-content{
    margin-bottom: 50px;   
}

.woocommerce-MyAccount-content strong{
    font-weight: 300;
}

.woocommerce-MyAccount-content input[type=submit]{
    color: #fff;
    font-weight: 300;  
}.woocommerce-MyAccount-content input[type=submit]:hover{
    color: #fff; 
}
.woocommerce-password-strength {
    font-weight: 300;
}

.addtocart-btn .added_to_cart.wc-forward{
    display: none;
}
body.search div.site-content{
    padding-bottom: 80px;
}

.welcome-kidzy h2,
.school-fecilities h2,
.meet-staffs h2,
.latest-news h2,
{
    margin-bottom: 40px;
}

.bg_intro::before {
    position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: rgba(0, 0, 0, 0.5);
      z-index: 1;
}
.bg_intro .wpb_column{
    position: relative;
    z-index: 2;
}