%button {
  font-size: 14px;
  text-transform: initial;
  text-align: center;
  letter-spacing: .8px;
}

@keyframes buttonSlideOut {
  0% {
    transform: translateY(0)
  }
  50% {
    transform: translateY(-150%);
    opacity: 1
  }
  51% {
    transform: translateY(-150%);
    opacity: 0
  }
  52% {
    transform: translateY(200%);
    opacity: 0
  }
  53% {
    transform: translateY(200%);
    opacity: 1
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes buttonSlideOut{
  0%{ transform: translateY(0) }
  100%{ transform: translateY(-200%); opacity: 1 }
}

@keyframes buttonBackgroundSlideUp{
  from{ transform: translateY(0) }
  to{ transform: translateY(calc(-100% - 4px)) }
}

button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
