/* defer:start */
.mha,
.mxa {
  margin-left: auto;
  margin-right: auto;
}

.mva,
.mxa {
  margin-top: auto;
  margin-bottom: auto;
}

.mt0,
.mv0,
.mx0 { margin-top: 0; }

.mb0,
.mv0,
.mx0 { margin-bottom: 0; }

.pt0,
.pv0,
.px0 { padding-top: 0; }

.pb0,
.pv0,
.px0 { padding-bottom: 0; }

.pr0,
.ph0,
.px0 { padding-right: 0; }

.pl0,
.ph0,
.px0 { padding-left: 0; }

.mt025,
.mv025,
.mx025 { margin-top: 0.25em; }

.mb025,
.mv025,
.mx025 { margin-bottom: 0.25em; }

.ml025,
.mh025,
.mx025 { margin-left: 0.25em; }

.mr025,
.mh025,
.mx025 { margin-right: 0.25em; }

.pt025,
.pv025,
.px025 { padding-top: 0.25em; }

.pb025,
.pv025,
.px025 { padding-bottom: 0.25em; }

.pl025,
.ph025,
.px025 { padding-left: 0.25em; }

.pr025,
.ph025,
.px025 { padding-right: 0.25em; }

.mt05,
.mv05,
.mx05 { margin-top: 0.5em; }

.mb05,
.mv05,
.mx05 { margin-bottom: 0.5em; }

.ml05,
.mh05,
.mx05 { margin-left: 0.5em; }

.mr05,
.mh05,
.mx05 { margin-right: 0.5em; }

.pt05,
.pv05,
.px05 { padding-top: 0.5em; }

.pb05,
.pv05,
.px05 { padding-bottom: 0.5em; }

.pl05,
.ph05,
.px05 { padding-left: 0.5em; }

.pr05,
.ph05,
.px05 { padding-right: 0.5em; }

.mt075,
.mv075,
.mx075 { margin-top: 0.75em; }

.mb075,
.mv075,
.mx075 { margin-bottom: 0.75em; }

.ml075,
.mh075,
.mx075 { margin-left: 0.75em; }

.mr075,
.mh075,
.mx075 { margin-right: 0.75em; }

.pt075,
.pv075,
.px075 { padding-top: 0.75em; }

.pb075,
.pv075,
.px075 { padding-bottom: 0.75em; }

.pl075,
.ph075,
.px075 { padding-left: 0.75em; }

.pr075,
.ph075,
.px075 { padding-right: 0.75em; }

.mt1,
.mv1,
.mx1 { margin-top: 1em; }

.mb1,
.mv1,
.mx1 { margin-bottom: 1em; }

.ml1,
.mh1,
.mx1 { margin-left: 1em; }

.mr1,
.mh1,
.mx1 { margin-right: 1em; }
.mln1 { margin-left: -1em; }
.mrn1 { margin-right: -1em; }

.mhn1 {
  margin-left: -1em;
  margin-right: -1em;
}

.pt1,
.pv1,
.px1 { padding-top: 1em; }

.pb1,
.pv1,
.px1 { padding-bottom: 1em; }

.pl1,
.ph1,
.px1 { padding-left: 1em; }

.pr1,
.ph1,
.px1 { padding-right: 1em; }

.mt15,
.mv15,
.mx15 { margin-top: 1.5em; }

.mb15,
.mv15,
.mx15 { margin-bottom: 1.5em; }

.ml15,
.mh15,
.mx15 { margin-left: 1.5em; }

.mr15,
.mh15,
.mx15 { margin-right: 1.5em; }
.mln15 { margin-left: -1.5em; }
.mrn15 { margin-right: -1.5em; }

.mhn15 {
  margin-left: -1.5em;
  margin-right: -15em;
}

.pt15,
.pv15,
.px15 { padding-top: 1.5em; }

.pb15,
.pv15,
.px15 { padding-bottom: 1.5em; }

.pl15,
.ph15,
.px15 { padding-left: 1.5em; }

.pr15,
.ph15,
.px15 { padding-right: 1.5em; }

.mt2,
.mv2,
.mx2 { margin-top: 2em; }

.mb2,
.mv2,
.mx2 { margin-bottom: 2em; }

.ml2,
.mh2,
.mx2 { margin-left: 2em; }

.mr2,
.mh2,
.mx2 { margin-right: 2em; }
.mln2 { margin-left: -2em; }
.mrn2 { margin-right: -2em; }

.mhn2 {
  margin-left: -2em;
  margin-right: -2em;
}

.pt2,
.pv2,
.px2 { padding-top: 2em; }

.pb2,
.pv2,
.px2 { padding-bottom: 2em; }

.pl2,
.ph2,
.px2 { padding-left: 2em; }

.pr2,
.ph2,
.px2 { padding-right: 2em; }

/* defer:end */
