%heading2 {
  font-size: 24px;
}

%heading3 {
  font-size: 20px;
}

%heading4 {
  font-size: 18px;
}

%p {
  font-family: $f-minion-pro;
  font-size: 18px;
  line-height: 1.6;
  color: $c-black;
}

%p-author-tag {
  font-family: $f-minion-pro;
  font-size: 15px;
  line-height: 1.6;
  color: $c-black;
}

%p1 {
  font-family: $f-minion-pro;
  font-size: 16px;
  line-height: 1.6;
  color: $c-black;
}
