@mixin background($size: cover) {
  background-size: $size;
  background-repeat: no-repeat;
  background-position: center;
}

.background-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

@mixin transition($element: all, $time: 0.3s, $type: ease) {
  transition: $element $time $type;
}

%transition-all {
	@include transition;
}

@mixin bg-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin aspect-ratio($w: 1, $h: 1, $pos: before) {
  position: relative;
  &:#{$pos} {
    content: '';
    display: block;
    padding-top: percentage($h/$w);
  }
}

@mixin fade-out {
  visibility: hidden;
  opacity: 0;
}

@mixin fade-in {
  visibility: visible;
  opacity: 1;
}

@mixin overlay {
  position: relative;
  &:before {
    @extend %transition-all;
    @include fade-out;
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 9;
    background-color: rgba($color-black, 0.4);
  }
}

.fade-in {
	opacity: 1;
	visibility: visible;
}

.fade-out {
	opacity: 0;
	visibility: hidden;
}

@mixin absolute-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.absolute-full {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

%absolute-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


@mixin list-reset() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin word-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: none;
}

@mixin focus() {
  &:focus {
    outline-width: 2px;
    outline-style: solid;
    outline-color: Highlight;

    @media (-webkit-min-device-pixel-ratio: 0) {
      outline-color: -webkit-focus-ring-color;
      outline-style: auto;
    }
  }
}
