$xxxs: 320px;
$xxs: 445px;
$xs: 620px;
$s: 767px;
$ms: 840px;
$m: 1023px;
$ml: 1160px;
$l: 1199px;
$xl: 1439px;
$xxl: 1599px;

// Default Theme
$f-roboto: Roboto;
$f-minion-pro: "Minion Pro", serif;

// Primary cs
$c-border: #707070;
$c-overlay: #020202;

$c-black: #000;
$c-blue: #00aeef;
$c-white: #FFF;
$c-dark: #3B3B3C;
$c-grey: #DEDEDF;
$c-gray: #7E7E80;
$c-green: #117E5B;
$c-light-green: #19BE89;
$c-light: #F7F7F7;
$c-brown: #73653A;
$c-beige: #ede7e1;
$c-red: #ED1C24;
$c-pink: #e1506e;
$c-hover: #92278f;

// Layout
$edge-gutter: 20px;
$edge-gutter-s: 40px;
$edge-gutter-m: 80px;
