/* defer:start */
.z0 {
  z-index: 0;
}

.z1 {
  z-index: 100;
}

.z2 {
  z-index: 200;
}

.z3 {
  z-index: 300;
}

.z5 {
  z-index: 500;
}

.z6 {
  z-index: 600;
}

.z7 {
  z-index: 700;
}

.z8 {
  z-index: 800;
}

.z9 {
  z-index: 900;
}

.z10 {
  z-index: 1000;
}

span[data-pin-log="button_pinit_floating"] {
	z-index: 5 !important;
}

/* defer:end */
